<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="io.github.jbarr21.runterval"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature android:name="android.hardware.type.watch" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".app.App"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat">

    <activity android:name=".ui.LauncherActivity" />
    <activity android:name=".ui.WorkoutActivity" />
    <activity android:name=".ui.TimerActivity" />

    <activity-alias
      android:name=".Launcher"
      android:targetActivity=".ui.LauncherActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>

    <uses-library
      android:name="com.google.android.wearable"
      android:required="true" />

    <meta-data
      android:name="com.google.android.wearable.standalone"
      android:value="true" />

  </application>
</manifest>
